body{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
    font-family: sans-serif;
}
.search_pattern{
  height: auto;
}
.search_loop{
  height: auto;
}
.result_pattern{
  width: 500px;
  padding-top: 50px;
  word-wrap: break-word;
  font-size: 15pt;
}
.result_loop{
  width: 500px;
  padding-top: 50px;
  word-wrap: break-word;
  font-size: 15pt;
}
